/* HospitalCard.css */
.container {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
    width: 95vw;
  }
  .dl-btn{
    border-radius: 5px;
    background: #2142ab;
    padding: 7px;
    color: white;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .dl-btn:hover{
    cursor: pointer;
    transition-duration: 0.2s;
    background: #172e79;
  }

  /* Card grid layout */
  .card-grid {
    display: grid;
    grid-template-columns: repeat(1);
    gap: 20px;
    justify-content: center; 
    align-content: center; /* Center vertically */

}
  
  /* Individual card styling */
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.2s ease;
    text-align: center;
    width: 90vw;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card h3 {
    margin-top: 0;
    font-size: 20px;
    color: #4CAF50;
  }
  
  .card p {
    margin: 10px 0;
    font-size: 16px;
    color: #555;
  }
  
  .card p strong {
    color: #333;
  }

  .approve-button{
        border-radius: 5px;
        background: #198754;
        padding: 7px;
        color: white;
        border: none;
        font-size: 15px;
  }
  .approve-button:hover{
    cursor: pointer;
    background: #146e44;
    transition-duration: 0.2s;
  }